<ion-content [fullscreen]="true">
    <div class="content-main">
      <h1>Liberty Wing</h1>
      <h3>Bienvenido</h3>
      <div class="logo">
        <img src="../../assets/imgs/logo.png" alt="">
      </div>
      <div class="main">
        <ion-button expand="block" shape="round" color="danger" routerLink="/login">INGRESAR</ion-button>
        <hr>
        <ion-button expand="block" shape="round" color="danger" routerLink="/registro">REGISTRARSE</ion-button>
      </div>
      <div class="frase">
        <p>“Da siempre lo mejor de ti. Lo que plantees ahora, lo cosecharás más tarde.”</p>
        <h4>"Og Mandino"</h4>
      </div>
    </div>
    <div class="redes">
      <img src="../../assets/imgs/redes.png" routerLink="/registro">
    </div>
</ion-content>
