<ion-header>
  <ion-toolbar>
    <ion-title>Notas</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Agregar Nota</h1>
  <div class="linea-main">
    <div class="linea"></div>
  </div>

  <div class="imgV-main">
    <img src="../../../assets/imgs/nota_v_1.png">
  </div>

  <ion-card>
    <form #notaForm="ngForm">
      <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="notasService.selectedNota._id">
      <ion-item>
        <ion-label position="stacked">Titulo</ion-label>
        <ion-input name="titulo" #titulo="ngModel" [(ngModel)]="notasService.selectedNota.titulo" type="text" placeholder="Ingresa un titulo para tu nota" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Descripción</ion-label>
        <ion-input name="desc" #desc="ngModel" [(ngModel)]="notasService.selectedNota.desc" type="text" placeholder="Ingresa una descripción para tu nota" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Fecha</ion-label>
        <ion-input name="fecha" #fecha="ngModel" [(ngModel)]="notasService.selectedNota.fecha" type="date" placeholder="Ingresa una fecha para tu nota" required=""></ion-input>
      </ion-item>

      <div class="card-2">
        <ion-button color="success" (click)="agregarNota(notaForm)">Aceptar</ion-button>
        <ion-button color="danger" (click)="resetForm(notaForm)">Borrar</ion-button>
      </div>
    </form>
  </ion-card>

  <ion-card *ngFor="let nota of notasService.notas">
    <ion-item>
      <h1>{{nota.titulo}}</h1>
    </ion-item>

    <ion-item>
      <h2>{{nota.desc}}</h2>
    </ion-item>

    <ion-item>
      <h3>{{nota.fecha}}</h3>
    </ion-item>

    <div class="editar">
      <button (click)="editNota(nota)" class="edit"><ion-icon name="create-sharp"></ion-icon></button>
      <button (click)="deleteNota(nota._id)" class="trash"><ion-icon name="trash-sharp"></ion-icon></button>
    </div>

  </ion-card>
</ion-content>
